/* Настройки
----------------------------------------------------------- */
/* Подключение файлов
----------------------------------------------------------- */
@font-face {
  font-family: 'Gabriola';
  src: url("../fonts/gabriola.eot"), url("../fonts/gabriola.eot?#iefix") format('embedded-opentype'), url("../fonts/gabriola.woff") format('woff'), url("../fonts/gabriola.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PFDinDisplayPro-Regular";
  src: url("../fonts/PFDinDisplayPro-Reg.eot");
  src: url("../fonts/PFDinDisplayPro-Reg.eot?#iefix") format('embedded-opentype'), url("../fonts/PFDinDisplayPro-Reg.woff") format('woff'), url("../fonts/PFDinDisplayPro-Reg.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PFDinDisplayPro-Light";
  src: url("../fonts/PFDinDisplayPro-Light.eot");
  src: url("../fonts/PFDinDisplayPro-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/PFDinDisplayPro-Light.woff") format('woff'), url("../fonts/PFDinDisplayPro-Light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PFDinDisplayPro-Bold";
  src: url("../fonts/PFDinDisplayPro-Bold.eot");
  src: url("../fonts/PFDinDisplayPro-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/PFDinDisplayPro-Bold.woff") format('woff'), url("../fonts/PFDinDisplayPro-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PFDinDisplayPro-Medium";
  src: url("../fonts/PFDinDisplayPro-Med.eot");
  src: url("../fonts/PFDinDisplayPro-Med.eot?#iefix") format('embedded-opentype'), url("../fonts/PFDinDisplayPro-Med.woff") format('woff'), url("../fonts/PFDinDisplayPro-Med.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html {
  font: 100%/1.2 'PFDinDisplayPro-Light', sans-serif;
}
body {
  min-width: 1200px;
  font-smooth: always;
  color: #393939;
}
p {
  font: inherit;
}
a {
  color: inherit;
}
b {
  font-family: 'PFDinDisplayPro-Bold', sans-serif;
  color: inherit;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  zoom: 1;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.link {
  color: #c52345;
  text-decoration: none;
  border-bottom: 2px solid #ea9aa7;
}
.heading,
.heading--big,
.heading--small {
  text-transform: uppercase;
}
.heading--big {
  text-align: center;
  font-size: 39px;
  color: #494438;
  margin-bottom: 15px;
}
.heading--small {
  font-size: 24px;
  color: #c52345;
  margin-bottom: 15px;
}
.text {
  line-height: 1.7;
  margin-bottom: 15px;
}
.form__input {
  display: block;
  padding: 9px 16px;
  font-style: italic;
  font-size: 16px;
  color: #393939;
  border: 1px solid #e72951;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 0px 2px #fff;
  box-shadow: 0px 0px 0px 2px #fff;
}
.btn,
.btn--order,
.btn--open {
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.btn--big {
  font-size: 24px;
  padding: 11px 30px;
}
.btn--small {
  padding: 8px 20px;
  font-size: 17px;
}
.btn--order {
  background: #ff0;
  background: -webkit-linear-gradient(top, #ff0, #f59c00);
  background: -moz-linear-gradient(top, #ff0, #f59c00);
  background: -o-linear-gradient(top, #ff0, #f59c00);
  background: -ms-linear-gradient(top, #ff0, #f59c00);
  background: linear-gradient(to bottom, #ff0, #f59c00);
  color: #572c15;
  text-shadow: 1px 1px 4px #e8c400;
}
.btn--order:hover {
  background: -webkit-linear-gradient(top, #ffff59, #f59c00);
  background: -moz-linear-gradient(top, #ffff59, #f59c00);
  background: -o-linear-gradient(top, #ffff59, #f59c00);
  background: -ms-linear-gradient(top, #ffff59, #f59c00);
  background: linear-gradient(to bottom, #ffff59, #f59c00);
}
.btn--open {
  background: #ea2a53;
  background: -webkit-linear-gradient(top, #ea2a53, #c02244);
  background: -moz-linear-gradient(top, #ea2a53, #c02244);
  background: -o-linear-gradient(top, #ea2a53, #c02244);
  background: -ms-linear-gradient(top, #ea2a53, #c02244);
  background: linear-gradient(to bottom, #ea2a53, #c02244);
  color: #fff;
  border-bottom: 1px solid #7b2736;
}
.btn--open:hover {
  background: -webkit-linear-gradient(top, #ed4a6d, #c02244);
  background: -moz-linear-gradient(top, #ed4a6d, #c02244);
  background: -o-linear-gradient(top, #ed4a6d, #c02244);
  background: -ms-linear-gradient(top, #ed4a6d, #c02244);
  background: linear-gradient(to bottom, #ed4a6d, #c02244);
}
::-webkit-input-placeholder {
  color: #393939;
}
:-moz-placeholder {
  color: #393939;
}
::-moz-placeholder {
  color: #393939;
}
:-ms-input-placeholder {
  color: #393939;
}
.b-advantages {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-advantages__item,
.b-advantages__item--silver,
.b-advantages__item--color,
.b-advantages__item--durability,
.b-advantages__item--handwork {
  text-transform: uppercase;
  margin: 35px 0;
  padding: 5px 0 0 70px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.b-advantages__item:after,
.b-advantages__item--silver:after,
.b-advantages__item--color:after,
.b-advantages__item--durability:after,
.b-advantages__item--handwork:after {
  content: '';
  height: 42px;
  position: absolute;
  left: 60px;
  top: 5px;
  border-right: 1px solid #c52345;
}
.b-advantages__item__heading,
.b-advantages__item--silver__heading,
.b-advantages__item--color__heading,
.b-advantages__item--durability__heading,
.b-advantages__item--handwork__heading {
  margin: 0 0 4px;
  font-family: 'PFDinDisplayPro-Regular', sans-serif;
  color: #505050;
}
.b-advantages__item__text,
.b-advantages__item--silver__text,
.b-advantages__item--color__text,
.b-advantages__item--durability__text,
.b-advantages__item--handwork__text {
  color: #999;
  font-size: 13px;
  line-height: 1.25;
}
.b-advantages__item--silver:before {
  content: '';
  display: block;
  width: 51px;
  height: 52px;
  padding-right: 8px;
  background: url("../img/b-advantages__item-sprite.png") no-repeat 0 0;
  position: absolute;
  left: 0;
  top: 0;
}
.b-advantages__item--color:before {
  content: '';
  display: block;
  width: 51px;
  height: 52px;
  padding-right: 8px;
  background: url("../img/b-advantages__item-sprite.png") no-repeat 0 -76px;
  position: absolute;
  left: 0;
  top: 0;
}
.b-advantages__item--durability:before {
  content: '';
  display: block;
  width: 51px;
  height: 52px;
  padding-right: 8px;
  background: url("../img/b-advantages__item-sprite.png") no-repeat 0 -165px;
  position: absolute;
  left: 0;
  top: 0;
}
.b-advantages__item--handwork:before {
  content: '';
  display: block;
  width: 51px;
  height: 52px;
  padding-right: 8px;
  background: url("../img/b-advantages__item-sprite.png") no-repeat 0 -240px;
  position: absolute;
  left: 0;
  top: 0;
}
.b-footer {
  background: url("../img/gray-bg.jpg") repeat;
}
.b-footer__info {
  padding: 26px 0 0;
  float: left;
  width: 340px;
  font: 14px Arial, sans-serif;
}
.b-footer__info__heading {
  font-size: 24px;
  color: #c52345;
  margin-bottom: 30px;
}
.b-footer__info__text {
  margin-bottom: 30px;
}
.b-gallery {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px 0;
}
.b-gallery .container {
  padding: 0;
}
.b-gallery__item {
  width: 270px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.b-gallery__item:hover .b-gallery__item__order {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.b-gallery__item__order {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  width: 100%;
  height: 65px;
  padding: 15px 0;
  background: url("../img/b-gallery__item__order-bg.png") no-repeat center center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 43px;
  text-align: center;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  -ms-transition: 0.3s all;
  transition: 0.3s all;
}
.b-gallery .bx-wrapper {
  position: relative;
}
.b-gallery .bx-wrapper .bx-controls-direction a {
  display: block;
  position: absolute;
  top: 45%;
  text-indent: -99999px;
  background: url("../img/b-gallery-arrows.png") no-repeat;
  width: 12px;
  height: 19px;
}
.b-gallery .bx-wrapper .bx-controls-direction .bx-next {
  right: -25px;
  background-position: -54px 0;
}
.b-gallery .bx-wrapper .bx-controls-direction .bx-prev {
  left: -25px;
  background-position: 0 0;
}
.b-header__top {
  padding-top: 10px;
  height: 96px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-header__main {
  background: url("../img/b-header__main-bg.jpg") no-repeat center top;
  height: 400px;
}
.b-header__logo {
  margin-top: 5px;
  float: left;
  font: bold 56px 'Times New Roman', serif;
  text-transform: uppercase;
}
.b-header__contacts {
  float: right;
  text-align: right;
}
.b-header__contacts__phone {
  font: 25px 'PFDinDisplayPro-Light', sans-serif;
  margin-bottom: 7px;
}
.b-header__contacts__btn {
  display: inline-block;
}
.b-header__quote {
  float: right;
  margin: 70px 0 0;
  padding: 11px 20px 40px 80px;
  height: 251px;
  width: 358px;
  background: url("../img/b-header__quote-bg.png") no-repeat left top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Gabriola', sans-serif;
  line-height: 0.95;
}
.b-header__quote__heading {
  font-size: 26px;
  color: #464646;
  margin-bottom: 5px;
}
.b-header__quote__text {
  font-size: 23px;
  color: #ef4f4f;
  word-wrap: break-word;
}
.b-how-we-work {
  padding: 30px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-how-we-work__items {
  zoom: 1;
  counter-reset: b-how-we-work-item-counter;
}
.b-how-we-work__items:before,
.b-how-we-work__items:after {
  content: "";
  display: table;
}
.b-how-we-work__items:after {
  clear: both;
}
.b-how-we-work__item {
  padding: 10px 0 10px 83px;
  float: left;
  width: 270px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  line-height: 1.4;
}
.b-how-we-work__item + .b-how-we-work__item {
  margin-left: 20px;
}
.b-how-we-work__item:before {
  counter-increment: b-how-we-work-item-counter;
  content: counter(b-how-we-work-item-counter);
  display: block;
  padding-left: 21px;
  width: 76px;
  height: 86px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../img/b-how-we-work__item.png") no-repeat;
  font: 67px 'PFDinDisplayPro-Bold', sans-serif;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
}
.b-order-form-inline {
  height: 61px;
  padding: 5px 0;
  background: url("../img/red-bg.jpg") repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-order-form-inline__input,
.b-order-form-inline__heading,
.b-order-form-inline__btn {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.b-order-form-inline__heading {
  font: 22px 'PFDinDisplayPro-Regular', sans-serif;
  color: #fff;
}
.b-order-form-inline__input {
  width: 235px;
}
.b-order-form {
  width: 365px;
  height: 400px;
  padding: 65px 32px 0;
  background: url("../img/red-bg.jpg") repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-order-form--footer {
  padding-top: 40px;
  height: 340px;
}
.b-order-form--right {
  float: right;
}
.b-order-form__input {
  margin: 20px 0;
}
.b-order-form__input,
.b-order-form__btn {
  width: 100%;
}
.b-order-form__warning {
  font-size: 15px;
  color: #fff;
  margin: 22px 0;
}
.b-order-form__heading {
  font-size: 31px;
  text-align: center;
  color: #fff;
  margin: 0 0 30px;
}
.b-our-clients {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px 0;
  text-align: center;
}
.b-our-clients__items {
  zoom: 1;
  margin-top: 20px;
}
.b-our-clients__items:before,
.b-our-clients__items:after {
  content: "";
  display: table;
}
.b-our-clients__items:after {
  clear: both;
}
.b-our-clients__item {
  display: inline-block;
  width: 375px;
  padding-right: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
}
.b-our-clients__item__image {
  float: left;
  margin-right: 20px;
}
.b-our-clients__item__heading {
  margin: 20px 0 5px;
}
.b-our-clients__item__text {
  font-size: 17px;
  line-height: 1.2;
  overflow: hidden;
}
.b-product {
  background: url("../img/gray-bg.jpg") repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-product .container {
  padding: 0 22px;
}
.b-product__image {
  float: left;
  margin: 5px 8px 0 0;
}
.b-product__price {
  float: left;
  background: url("../img/b-product__price.png") no-repeat;
  width: 183px;
  height: 383px;
}
.b-product__advantages {
  width: 367px;
  float: right;
}
.b-reviews {
  background: url("../img/gray-bg.jpg") repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px 0;
}
.b-reviews__items {
  zoom: 1;
  margin-top: 20px;
}
.b-reviews__items:before,
.b-reviews__items:after {
  content: "";
  display: table;
}
.b-reviews__items:after {
  clear: both;
}
.b-reviews__item {
  float: left;
  width: 570px;
  padding-right: 25px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-reviews__item__image {
  float: left;
  margin-right: 25px;
}
.b-reviews__item__heading {
  margin: 30px 0 10px;
}
.b-reviews__item__text {
  font-size: 17px;
  line-height: 1.2;
  overflow: hidden;
}
